body {
  background-image: url("../images/Sutton_Nuit.jpg");
  background-size: 100vw auto;
  background-position: 0 -25vw;
  font-family: "dejavu mono";
  margin: 0;

  height: 100%;
  overflow: hidden;
}

header {
  text-align: center;

  /*display: inline-block;*/
  top: 0px;
  width: 100vw;
  height: 8vh;
  padding: 5vh 0vw;
  margin: 0px;

}

input.social {
    width: 6vh;
    height: 6vh;

    display: inline;
    /*
    type="image";
    target="_blank";
    rel="noreferrer noopener";
    */
    border-radius: 4vh;
    border-style: solid;
    border-color: #2d240e;
    margin: 0 1vw 0 1vw;
}

footer {
  text-align: center;

  font-family: "courier new";
  font-size: 11;
  color: #333;

  position: fixed;
  width: 100vw;
  height: 8vh;
  bottom: 0;
  padding: 1vh 0vw;
  margin: 0px;

}

footer a {
  text-decoration: none;
  color: inherit;
}

#clock {
  text-align: center;
  font-family: "dejavu sans mono";
  font-weight: bold;
  vertical-align: middle;
/*
  color: #1c0c2d;
*/
  color: #cfc8c8;
  display: inline-block;
  width: 100vw;
  height: 30vh;
  margin: 0;
}

#clock h1 {
  font-size: 35px;
}

#clock h3 {
  font-size: 30px;
}

#search {
  width: 36vw;
  height: 5vh;
  padding: 0vh 5vw 0vh 1vw;
  margin: 0 0 0 26vw;

  text-align: left;
  font-size: 18px;
  vertical-align: middle;

  float: left;

  display: inline-block;

  border-width: 0.3vh 0 0.3vh 0.3vh;
  border-radius: 0.3vh 0 0 0.3vh;
  border-style: solid;
  border-color: black;

  background: white;
  color: #666666;

}

#searchButton {
  width: 3vh;
  height: 3vh;
  padding: 1vh 1vw 1.05vh 1vw;
  margin: 0;
  text-align: center;
  vertical-align: middle;

  float: left;

  border-width: 0.3vh 0.3vh 0.3vh 0;
  border-radius: 0 0.3vh 0.3vh 0;
  border-style: solid;
  border-color: black;

  display: inline-block;

  background: white;
  color: black;

  font-size: 18px;
  font-weight: bold;
}

#searchButton:hover {
  background: #33cc33;
}
